name: Build
on:
  workflow_dispatch:
    inputs:
      commit:
        description: 'Build from this commit/tag'
        type: string
        default: 'HEAD'
      platform:
        description: 'The platform to build for'
        type: choice
        options:
          - any
          - linux
        default: 'any'

run-name: Commit/Tag- ${{ inputs.commit }}, ${{ github.event.inputs.platform }}
jobs:
  build-peacock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - if: ${{ github.event.inputs.platform == 'linux' }}
        name: Build Peacock for linux
        run: ./run-lite.sh ${{ inputs.commit }}

      - if: ${{ github.event.inputs.platform == 'any' }}
        name: Build Peacock
        run: ./run.sh ${{ inputs.commit }}

      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: '${{ env.ARTIFACT_NAME }}'
          path: 'Peacock/out'
          if-no-files-found: error

